*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer{
    font-family: 'Roboto', sans-serif
}

header h3{
    background-color: #1CD1B0;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 23px;
}

header div, footer{
    background-color: #00669F;
    color: white;
    display: flex;
    align-items: center;
}

header div{
    height: 80px;
    gap: 20px;
    padding-left: 10px;
}

header div:nth-child(3){
    background-color: #001D2D;
    height: 40px;
    justify-content: flex-end;
    padding-right: 20px;  
}
    
footer {
    height: 61px;
    justify-content: center;
}

.listado {
    display: flex;
    justify-content: center;
}

.personaje {
    display: inline-block;
    margin: 33px;
    padding-top: 158px;
    padding-bottom: 153px;
    
}

/*Parte superior*/
.tope {
    position: relative;
    
}

.like {
    position: absolute;
    width: 30px;
    top: 16px;
    left: 21px;
}

.foto {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    top: 120px;
    left: 90px;
    z-index: 2;
}


/*Parte inferior*/

.base {
    width: 300px;
    height: 336px;
    background: #F3F3F3;
    position: relative;
      
    
}

.base h2{
    position: absolute;
    text-transform: uppercase;
    top: 74px;
    font-size: 30px;
    left: 89px;
}

.base .harley{
    text-transform: none;
    left: 65px;
}

.base .descripcion{
    position: absolute;
    font-size: 16px;
    width: 267px;
    top: 119px;
    left: 17px;
    
}

.base .ver {
    width: 128.78px;
    height: 48.52px;
    position: absolute;
    background-color: #00669F;
    color: #F3F3F3;
    text-align: center;
    padding: 15px;
    top: 269px;
    left: 85px;
    
}

a{
    text-decoration: none;
    color: white;
}

section a{
    margin-top: 400px;
    
}

